<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <system.webServer>
        <rewrite>
            <rewriteMaps>
                <rewriteMap name="MicroservicePorts">
                    <add key="tna" value="3040" />
                    <add key="fuel" value="3307" />
                    <add key="hr" value="3633" />
                    <add key="hardware" value="3200" />
                </rewriteMap>
            </rewriteMaps>

            <rules>
                <rule name="Dynamic Microservice Router" stopProcessing="true">
                    <match url="^api/([^/]+)/(.*)" />
                    <conditions>
                        <add input="{MicroservicePorts:{R:1}}" pattern="(.+)" />
                    </conditions>
                    <action type="Rewrite" url="http://102.211.31.252:{C:1}/api/{R:1}/{R:2}" appendQueryString="true" />
                </rule>

                <rule name="Route to Main App (Port 3700)" stopProcessing="true">
                    <match url="(.*)" />
                    <action type="Rewrite" url="http://102.211.31.252:3700/{R:1}" appendQueryString="true" />
                </rule>
            </rules>
        </rewrite>
    </system.webServer>
</configuration>